<div class="sheet-content">
  <div>
    <app-sheet-groupbox header="Materiał" >
      <table>
        <tr>
          <td style="width: 150px">
            <label>Beton:</label>
          </td>
          <td style="width: 150px;">
            <app-sheet-select></app-sheet-select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Stal zbrojeniowa:</label>
          </td>
          <td>
            <app-sheet-select></app-sheet-select>
          </td>
        </tr>
      </table>
    </app-sheet-groupbox>
  </div>
  <div>
    <app-sheet-groupbox header="Pręt zbrojeniowy" >
      <table>
        <tr>
          <td style="width: 150px">
            <label>Beton:</label>
          </td>
          <td style="width: 150px;">
            <app-sheet-select></app-sheet-select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Stal zbrojeniowa:</label>
          </td>
          <td>
            <app-sheet-select></app-sheet-select>
          </td>
        </tr>
      </table>
    </app-sheet-groupbox>
  </div>
</div>

